<div class="container">

        <div class="row">

<div class="top">
	<h2> Top 5 Savers: </h2>
	<ul>
		<% @rankings.each do |user| %>
		<strong><%= user.first_name %></strong><br>
		<img src= <%= user.profile_picture %> width=120px;><br>
		<%= number_to_currency(user.total_savings, :unit => "ZAR ") %><br><br>
		<%end %>
	</ul>
</div>
<head>
<link rel="stylesheet" type="text/css" href='record.css'>
</head>

	
	<div class = "ProfileTitle">
	<%= @user.first_name %>'s Savings Records and Goals Page <br><br>
	</div><img class= "profilepicture"src= <%= @profile_picture %> width=225;height=225;><br>
	


<div class='GoalTitle'> <%= link_to 'Click Here to Create a New Goal >>', info_path(current_user), class: 'btn btn-primary btn-lg' %>
</div>

<p>
	<h2> Goals </h2><br>

	Total Goal amount : <strong> <%= number_to_currency(@goals.sum(:amount), :unit => "ZAR ") %></strong><br>

	<% @goals.each do |goal| %>
		Goal: <%= goal.description %><br>
		Goal reached by : <%= goal.date %><br>
		Goal amount : ZAR <%= goal.amount %><br>
		Goal completion: <%= @records.sum(:amount).to_f / goal.amount * 100 %> % <br>
		<strong><%= link_to 'View this Goal', user_goal_path(current_user, goal) %></strong><br><br>
	<% end %>

</p>

<div class = "savingform">
	<h3> Create a New Savings Record </h3>
	<%= render 'form' %><br>
</div>

<p>	
	<h2> Savings </h2><br>

	Total Savings amount : <strong><%= number_to_currency(@total_record, :unit => "ZAR ")  %></strong><br>

	<% @records.each do |record| %>
		On: <%= record.date %><br>
		Saved: ZAR <%= record.amount %><br>
		Description: <%= record.description %><br>
		<strong><%= link_to 'View this Saving', user_record_path(current_user, record) %></strong><br><br>	
	<% end %>
	
	
</p>

