<div class="container">
	<div class="row">
		<div class="col-md-1">
			<br>
			<img class="img-circle" src= <%= @profile_picture %> width=150;height=150;><br>
		</div>
		<div class="col-md-8">
			<div class = "ProfileTitle"><img class = "profilepicture">
				<h1>The personal savings page of <%= @user.first_name %> </h1><br>
			</div>
			<div class='GoalTitle'> <%= link_to 'Click Here to Create a New Goal >>', info_path(current_user), class: 'btn btn-primary btn-lg' %>
			</div>
		</div>
	</div>

<br><br><div class="row">
    <div class="col-md-3">
		<p>
		<h2> Goals </h2><br>
		<h4>Total Goals:</h4> <strong> <%= number_to_currency(@total_goal, :unit => "ZAR ") %></strong><br>
		<% @goals.each do |goal| %>
			<br>
			Amount: ZAR <%= goal.amount %><br>
			Date: <%= goal.date %><br>
			Goal Progress: 
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="<%= goal_completion(@records.sum(:amount), goal.amount) %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= goal_completion(@records.sum(:amount), goal.amount) %>%;">
				    <%= goal_completion(@records.sum(:amount), goal.amount) %>%
	 		 </div>
		 </div>	
		<strong><%= link_to 'View this Goal', user_goal_path(current_user, goal) %></strong><br>
		<% end %>
		</p>
	</div>

    <div class="col-md-3">	
		<h2> Savings </h2><br>
		<h4>Total Saved: </h4><strong><%= number_to_currency(@total_record, :unit => "ZAR ")  %></strong><br>
		<% @records.each do |record| %>
			
			<br>Amount: ZAR <%= record.amount %><br>
			Date: <%= record.date %><br>
			<strong><%= link_to 'View this Saving', user_record_path(current_user, record) %></strong><br><br>	
		<% end %>
		</p>
	</div>


    <div class="col-md-3">
		<div class = "savingform">
			<h3> Create a New Savings Record </h3><br>
			<%= render 'form' %><br>
		</div>
	</div>

    <div class="col-md-3">
    	<div class="top">
			<h2> Top 5 Savers: </h2>
			<ul>
				<% @rankings.each do |user| %>
				<strong><%= user.first_name %></strong><br>
				<img class="img-circle" src= <%= user.profile_picture %> width=120px;><br>
				<%= number_to_currency(user.total_savings, :unit => "ZAR ") %><br><br>
				<%end %>
			</ul>
		</div>
	</div>
</div>

