<% @rankings.each do |user| %>
<%= user.email %>
<%= user.total_savings %>
<%end %>

<h1> The personal savings page of <%= @user.email %> </h1>

<button><%= link_to 'Home', :root %></button>
<button><%= link_to 'New Goal', info_path(current_user) %></button>

<p>
	<h2> Goals </h2><br>
	<% @goals.each do |goal| %>
		Goal: <%= goal.description %><br>
		Goal reached by : <%= goal.date %><br>
		Goal amount : ZAR <%= goal.amount %><br>
		Goal completion: <%= @records.sum(:amount).to_f / goal.amount * 100 %> % <br>
		<strong><%= link_to 'View this Goal', user_goal_path(current_user, goal) %></strong><br><br>

	<% end %>

	Total Goal amount : <strong> <%= number_to_currency(@goals.sum(:amount), :unit => "ZAR ") %></strong>
</p>

<h3> New Saving </h3>
<%= render 'form' %><br>

<p>	
	<h2> Savings </h2><br>

	<% @records.each do |record| %>
		On: <%= record.date %><br>
		Saved: ZAR <%= record.amount %><br>
		Description: <%= record.description %><br>
		<strong><%= link_to 'View this Saving', user_record_path(current_user, record) %></strong><br><br>	
	<% end %>
	Total Savings amount : <strong><%= number_to_currency(@total_record, :unit => "ZAR ")  %></strong>
	
</p>

