<div class="border-form-div">
<%= form_for [current_user, @goal] do |f| %> 

<% if @goal.errors.any? %>
		<h2>
			<%= pluralize(@goal.errors.count, "error")%>
			prohibited this place from being saved
		</h2>
		<ul>
			<% @goal.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
	<%= f.label :date %>
	<%= f.date_field :date, placeholder: 'Reach my goal when?' %>
	</p>
	<p>
		<%= f.label :amount %>
		<%= f.text_field :amount, placeholder: 'Amount to reach goal' %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit "Create", :class => 'btn btn-primary' %>
	</p>

<% end %>
</div>