<!DOCTYPE html>
<html>
<head>
  <title>Smartsaver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <style>
  .top {
  	float:right;
  }
  .savingform {
  	float:right;
  }
  .examplegoals {
  	float:right;
  }
  .progress {
    width:250px;
  }


  </style>
</head>
<body>


<%= render 'layouts/nav' %>
<br><br>

<%= yield %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</html>
